.main {
  background-color: #503006;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  width: fit-content;

  input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
  }

  button {
    background-color: #503006;
    color: white;
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
  }
}

.container {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.signup {
  color: white;
}
